{% extends './layouts/main-layout.html' %}
{% block content %}
    <h3 style="margin-left: 27%">Prioritas Perbaikan</h3>
    <div style="margin-bottom: 5%; margin-top: 10%">
        {% for obj in Location %}
        <div style="height: 100%; margin-bottom: 3%" class="card white" id="data">
            
            {{obj.lat}}<br>
            {{obj.lng}}<br>
            {{obj.count}}
            <a href="/roadreport/web/map-report-client/{{obj.lat}},{{obj.lng}}" class="waves-light amber btn right">Tampilkan Map</a>
        </div>
        {% endfor %}
    </div>
    
  {% endblock %}